page-about-repay {

}
.aboutRepay_wrap{
    margin-bottom: .611111rem ;
}
.aboutRepay_wrap>span:nth-of-type(1){
    width: .444444rem ; 
    height: .444444rem;
    border-radius: 50% ; 
    line-height: .444444rem ;
    text-align: center ; 
    color:#fff; 
    background: #00b4ef ;
    display: block ;
    float: left;
    margin-right: .138889rem ;
    margin-top: 4px
}