.reg-protocol-main {
  overflow: hidden;
  padding: .277778rem .416667rem;
  >p{
    margin-top: 0.5rem;
    font-size:.177778rem;
  }
  h2 {
    font-weight: bold;
    font-size: .277778rem;
    text-align: center;
    margin: 0 0 .277778rem;
  }
  h4{
    font-size: .177778rem;
  }
  h3 {
    font-weight: bold;
    font-size: .25rem;
    margin: .555556rem 0;
  }
  li {
    padding-left: 0.7rem;
    line-height: 1.5em;
    font-size: .177778rem;
  }
  .mar-b {
    margin-bottom: .416667rem;
  }
}
