page-config {

}
.configWrap{
    margin-top: .416667rem ;
    background: #fff ;
    height: 4.166667rem;
}
.config_item{
    margin-left: .527778rem ;
    font-size: .444444rem ;
    color:rgba(0,0,0,1);
    height: 1.388889rem;
    line-height: 1.388889rem ;
    border-bottom : 1px solid #D0D0D0 ;
    padding-right: .583333rem ;
}
.config_icon{
    color : #D0D0D0
}
.version_text{
    color : #D0D0D0
}